html
  head
    link(href="style.css" rel="stylesheet")
    meta(name="viewport" content="maximum-scale=1, user-scalable=0")
  body
      div(class='container')
        center
          div(class='logo')
