<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="816452112486-740rj9g685nnqcviq6od4e5f6qilisfh.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
  	<div class='container'>
  	<center>
  		<div class='logo'></div>
  	<br>
    	<form method='get' action='/dashboy.html'>
    	  <input type='submit' value='Sign In'>
    	</form>
    </center>
    </div>

  </body>
</html>