@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: initial;
}

input[disabled] {
	opacity: 0.5;
}

#mapdiv {
	text-align: center;
    font-size: 24px;
}

p.formLatLong {
	display: none;
}

.container {
	width: 100%;
    font-size: 3rem;
    height: 100%;
}

	.container .top {
		background-color: #532e63;
		width: 100%;
		height: 80px;
		color: #fff;
		-moz-box-sizing: border-box; 
    	-webkit-box-sizing: border-box; 
    	box-sizing: border-box; 
    	line-height: 80px;
    	position: fixed; 
    	background-image: url(topHeader.png);
	    background-size: 50%;
	    background-position: center;
	    background-repeat: no-repeat;
	    z-index: 5;
	}
	
	#left
	{
		float : left;
	}
	
	
	#central
	{
		margin : 0 auto;
		text-align : center;
	}

	.container .top a {
		color : #fff;
		text-decoration : none;
	}


	.container .cardFeed {
		width: 100%;
		background-color: #ececec;
		min-height: 100%;
		padding-top: 100px;
	}

	.container .cardFeed hr {
		width: 90%;
		opacity: 0.8;
	}

	.container .cardFeed .card {
		width: 90%;
		background-color: #fff;
		text-align: left;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 15px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	.container .cardFeed .card p {
		margin-top: 10px;
		font-size: 24px;
	}

	.container .cardFeed .card .cirq {
		height: 40px;
		background-color: #00E676;
		float: left;
		width: 40px;
		border-radius: 100%;
		margin-right: 10px;
		margin-left: 5px;
		text-align: center;
		color: #fff;
		font-size: 30px;
		line-height: 40px;
		margin-top: 10;
	}

	.container .cardFeed .card .cirq.solei {
		background-color: #E53935;
	}
	
	.container .cardFeed .card.iFrame iFrame {
		width: 100%;
		height: 50%;
	}
	
	.container .cardFeed .card.single {
		text-align: center;
		min-height: 100px;
		line-height: 100px;
		font-size: 24px;
	}
	
	.container .logo {
		height: 320px;
	    /* width: 500px; */
	    background-repeat: no-repeat;
	    background-image: url(logo.png);
	    background-size: contain;
	    background-position: center;
	}
	
	.my-signin2
	{
		font-family : 1.5em;
	}



	.container .cardFeed .card input[type='text'] {
		width: 90%;
		font-size: 24px;
		background-color: initial;
		border: none;
	}
	
	.container .cardFeed .card input[type='submit'] {
		width: 90%;
		font-size: 24px;
		background-color: #00C853;
		color: #fff;
		padding: 15px;
	}
	
	.container .check 
	{
		font-size : 1.8em;
		color : #009925;
	}
	
	#successmsg
	{
		font-size : 24px;
	}
	
	input[type='submit'] {
		width: 90%;
		font-size: 24px;
		background-color: #00C853;
		color: #fff;
		padding: 15px;
	}